{% extends "greenhouse/base_html.html" %}
{% load static %}
{% block body %}
    <body class="fixed-nav sticky-footer bg-dark" id="page-top">
    {% include "greenhouse/navbar.html" %}
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="card-columns">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-table"></i> Farm XYZ
                    </div>
                    <a href="#">
                        <img class="card-img-top img-fluid w-100" src="{% static "plants.jpg" %}"
                             alt="">
                    </a>
                    <div class="card-body">
                        <h6 class="card-title mb-1"><a href="#">Farm XYZ</a></h6>
                        <p class="card-text small">These plants are looking nice and healthy!
                            <a href="#">#localGrow</a>
                        </p>
                    </div>
                    <hr class="my-0">
                    <div class="card-body py-2 small">
                        <div class="progress">
                            <div class="progress-bar bg-success" style="width:70%">70%</div>
                        </div>
                    </div>
                    <hr class="my-0">
                    <!-- TODO make this updated at dynamic -->
                    <div class="card-footer small text-muted">Updated 32 mins ago</div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-table"></i> Farm ZYX
                    </div>
                    <a href="#">
                        <img class="card-img-top img-fluid w-100" src="{% static "plants2.jpg" %}"
                             alt="">
                    </a>
                    <div class="card-body">
                        <h6 class="card-title mb-1"><a href="#">Farm ZYX</a></h6>
                        <p class="card-text small">These plants are looking nice and healthy!
                            <a href="#">#localGrow</a>
                        </p>
                    </div>
                    <hr class="my-0">
                    <div class="card-body py-2 small">
                        <div class="progress">
                            <div class="progress-bar bg-success" style="width:43%">43%</div>
                        </div>
                    </div>
                    <hr class="my-0">
                    <!-- TODO make this updated at dynamic -->
                    <div class="card-footer small text-muted">Updated 47 mins ago</div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-table"></i> Farm ABC
                    </div>
                    <a href="#">
                        <img class="card-img-top img-fluid w-100" src="{% static "plants3.jpg" %}"
                             alt="">
                    </a>
                    <div class="card-body">
                        <h6 class="card-title mb-1"><a href="#">Farm XYZ</a></h6>
                        <p class="card-text small">These plants are looking nice and healthy!
                            <a href="#">#localGrow</a>
                        </p>
                    </div>
                    <hr class="my-0">
                    <div class="card-body py-2 small">
                        <div class="progress">
                            <div class="progress-bar bg-success" style="width:20%">20%</div>
                        </div>
                    </div>
                    <hr class="my-0">
                    <!-- TODO make this updated at dynamic -->
                    <div class="card-footer small text-muted">Updated 10 mins ago</div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </body>
{% endblock %}