{% extends "greenhouse/base_html.html" %}
{% load static %}
{% block body %}
    <body class="fixed-nav sticky-footer bg-dark" id="page-top">
    {% include "greenhouse/navbar.html" %}
    <div class="content-wrapper">
        <div class="container-fluid">
            {% for farm in farms %}
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-table"></i> {{ farm.name }} Status
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered JQDataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Current</th>
                                    <th>Desired</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Current</th>
                                    <th>Desired</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                {% for attribute in farm.status.desired_state %}
                                    <tr>
                                        <td>{{ attribute }}</td>
                                        {% for key, value in farm.status.desired_state.items %}
                                            {% if attribute == key %}
                                                <td>{{ value }}</td>
                                            {% endif %}
                                        {% endfor %}
                                        {% for key, value in farm.climate.items %}
                                            {% if attribute == key %}
                                                <td>{{ value }}</td>
                                            {% endif %}
                                        {% endfor %}

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- TODO make this updated at dynamic -->
                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>
            {% endfor %}
        </div>
    </div>
    </body>
{% endblock %}
